<!DOCTYPE html>
<html>
<head>
  <title>Quiz1</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

	<header>
		<%= link_to root_path , :class => 'logo' do%>
		<div class="circle">
  <br />
  Hello
  <br />
  Beautiful
  <br />
  World
  <% end %>
</div>
</header>

<%= yield %>

</body>
</html>
